<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
             http://www.springframework.org/schema/security
             http://www.springframework.org/schema/security/spring-security-3.2.xsd">
    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/admin/**" access="hasRole('ADMIN')" />
        <intercept-url pattern="/userGames" access="hasRole('USER')" />
        <intercept-url pattern="/cart" access="hasRole('USER')" />
        <intercept-url pattern="/addToCart" access="hasRole('USER')" />
        <intercept-url pattern="/checkout" access="hasRole('USER')" />
        <intercept-url pattern="/deleteFromCart/**" access="hasRole('USER')" />
        <access-denied-handler error-page="/403" />
        <form-login login-page="/login"
                    default-target-url="/"
                    authentication-failure-url="/login?error"
                    username-parameter="username"
                    password-parameter="password"/>
        <logout logout-success-url="/login?logout" />
        <!--<csrf/>-->
    </http>
    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query="select username, password, enabled from users where username=?"
                               authorities-by-username-query="SELECT username, user_role FROM users WHERE username=?" />
        </authentication-provider>
    </authentication-manager>
</beans:beans>